In [ ]:
## CONCATENATION OF LOT OF DATA FOLDER INTO ONE DATAFRAME

In [46]:
import pandas as pd

In [47]:
all_files = []

for b in range(1, 333):
    if b >= 100:
        all_files.append(pd.read_csv(f"/Users/Nathaniel_inc/Documents/DreyB53/lotofdata/{b}.csv"))
    elif b >= 10:
        all_files.append(pd.read_csv(f"/Users/Nathaniel_inc/Documents/DreyB53/lotofdata/0{b}.csv"))
    else:
        all_files.append(pd.read_csv(f"/Users/Nathaniel_inc/Documents/DreyB53/lotofdata/00{b}.csv"))

In [48]:
concatntd_file = pd.concat(all_files, axis=0, ignore_index=True)

In [49]:
concatntd_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772087 entries, 0 to 772086
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Date     772087 non-null  object
 1   sulfate  118783 non-null  float64
 2   nitrate  114349 non-null  float64
 3   ID       772087 non-null  int64
dtypes: float64(2), int64(1), object(1)
memory usage: 20.6+ MB

In [ ]:
##ASSINGMENT 11

In [1]:
import numpy as np
import pandas as pd

In [2]:
easter_data = pd.read_csv("application_data.csv")
easter_data.head()

,customerID,loanId,applicationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,3.02953E+11,12/21/2018,1,7500,30.0,30,1/20/2019,1/16/2019
1,217540860,3.0296E+11,12/23/2018,1,7500,30.0,30,1/22/2019,12/29/2018
2,522238092,3.03017E+11,1/8/2019,1,7500,30.0,30,2/7/2019,1/8/2019
3,96754469,3.03E+11,1/4/2019,1,7500,30.0,30,2/3/2019,1/8/2019
4,410354345,3.02952E+11,12/21/2018,1,7500,30.0,30,1/20/2019,1/17/2019

In [5]:
easter_data["LoanAmount"].mean()

13828.08

In [6]:
easter_data["InterestRate"].mean()

23.061700000000002

In [7]:
easter_data["TermDays"].mean()

42.075

In [3]:
 easter_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   applicationDate    1000 non-null   object
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   int64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   object
 8   repaymentPaidDate  1000 non-null   object
dtypes: float64(1), int64(3), object(5)
memory usage: 50.8+ KB

In [4]:
easter_data["repaymentDueDate"] = pd.to_datetime(easter_data["repaymentDueDate"])

In [5]:
easter_data.head()

,customerID,loanId,applicationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,3.02953E+11,12/21/2018,1,7500,30.0,30,2019-01-20,1/16/2019
1,217540860,3.0296E+11,12/23/2018,1,7500,30.0,30,2019-01-22,12/29/2018
2,522238092,3.03017E+11,1/8/2019,1,7500,30.0,30,2019-02-07,1/8/2019
3,96754469,3.03E+11,1/4/2019,1,7500,30.0,30,2019-02-03,1/8/2019
4,410354345,3.02952E+11,12/21/2018,1,7500,30.0,30,2019-01-20,1/17/2019

In [6]:
easter_data["repaymentPaidDate"] = pd.to_datetime(easter_data["repaymentPaidDate"])

In [7]:
easter_data.head()

,customerID,loanId,applicationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,3.02953E+11,12/21/2018,1,7500,30.0,30,2019-01-20,2019-01-16
1,217540860,3.0296E+11,12/23/2018,1,7500,30.0,30,2019-01-22,2018-12-29
2,522238092,3.03017E+11,1/8/2019,1,7500,30.0,30,2019-02-07,2019-01-08
3,96754469,3.03E+11,1/4/2019,1,7500,30.0,30,2019-02-03,2019-01-08
4,410354345,3.02952E+11,12/21/2018,1,7500,30.0,30,2019-01-20,2019-01-17

In [8]:
easter_data["DateDifference"] = easter_data["repaymentDueDate"] - easter_data["repaymentPaidDate"]

In [9]:
easter_data

,customerID,loanId,applicationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,DateDifference
0,839247458,3.02953E+11,12/21/2018,1,7500,30.0,30,2019-01-20,2019-01-16,4 days
1,217540860,3.0296E+11,12/23/2018,1,7500,30.0,30,2019-01-22,2018-12-29,24 days
2,522238092,3.03017E+11,1/8/2019,1,7500,30.0,30,2019-02-07,2019-01-08,30 days
3,96754469,3.03E+11,1/4/2019,1,7500,30.0,30,2019-02-03,2019-01-08,26 days
4,410354345,3.02952E+11,12/21/2018,1,7500,30.0,30,2019-01-20,2019-01-17,3 days
...,...,...,...,...,...,...,...,...,...,...
995,964510149,302636726,1/15/2018,2,7500,30.0,30,2018-02-14,2018-01-20,25 days
996,251997198,302772445,2/13/2018,1,7500,30.0,30,2018-03-15,2018-03-14,1 days
997,899011279,302585439,1/3/2018,3,7500,30.0,30,2018-02-02,2018-10-12,-252 days
998,648637210,3.02788E+11,11/19/2018,1,7500,30.0,30,2018-12-19,2018-12-17,2 days
999,464788691,302683579,1/24/2018,1,7500,30.0,30,2018-02-24,2018-02-11,13 days

In [10]:
extended_paytime = easter_data[easter_data["DateDifference"] < "-3 days"]
extended_paytime

,customerID,loanId,applicationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,DateDifference
397,GH35460722,100016172,1/30/2018,5,80,15.0,15,2018-02-14,2018-03-01,-15 days
410,GH85390929,100015715,1/27/2018,2,80,15.0,15,2018-02-12,2018-02-16,-4 days
419,GH06832511,100014400,1/20/2018,1,80,15.0,15,2018-02-05,2018-02-14,-9 days
424,GH26139148,100017099,2/4/2018,2,80,15.0,15,2018-02-19,2018-02-27,-8 days
426,GH03825373,100012495,1/13/2018,1,80,15.0,15,2018-01-29,2018-02-13,-15 days
...,...,...,...,...,...,...,...,...,...,...
978,189301655,3.02566E+11,10/13/2018,2,7500,30.0,30,2018-11-12,2018-11-20,-8 days
980,874756930,302885631,3/7/2018,2,7500,30.0,30,2018-04-06,2018-04-17,-11 days
983,351491824,302607848,1/8/2018,1,7500,30.0,30,2018-02-09,2018-05-09,-89 days
987,576830620,302856088,3/1/2018,3,7500,30.0,30,2018-03-31,2018-07-12,-103 days
997,899011279,302585439,1/3/2018,3,7500,30.0,30,2018-02-02,2018-10-12,-252 days

In [11]:
percentage_extn = (len(extended_paytime) / len(easter_data)) * 100  ##Percentage of customers that paid after three days extension.
round(percentage_extn, 1)

14.5

In [12]:
easter_data.set_index(pd.Index([num for num in range(1, len(easter_data) + 1)]), inplace = True)

In [13]:
easter_data

,customerID,loanId,applicationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,DateDifference
1,839247458,3.02953E+11,12/21/2018,1,7500,30.0,30,2019-01-20,2019-01-16,4 days
2,217540860,3.0296E+11,12/23/2018,1,7500,30.0,30,2019-01-22,2018-12-29,24 days
3,522238092,3.03017E+11,1/8/2019,1,7500,30.0,30,2019-02-07,2019-01-08,30 days
4,96754469,3.03E+11,1/4/2019,1,7500,30.0,30,2019-02-03,2019-01-08,26 days
5,410354345,3.02952E+11,12/21/2018,1,7500,30.0,30,2019-01-20,2019-01-17,3 days
...,...,...,...,...,...,...,...,...,...,...
996,964510149,302636726,1/15/2018,2,7500,30.0,30,2018-02-14,2018-01-20,25 days
997,251997198,302772445,2/13/2018,1,7500,30.0,30,2018-03-15,2018-03-14,1 days
998,899011279,302585439,1/3/2018,3,7500,30.0,30,2018-02-02,2018-10-12,-252 days
999,648637210,3.02788E+11,11/19/2018,1,7500,30.0,30,2018-12-19,2018-12-17,2 days
1000,464788691,302683579,1/24/2018,1,7500,30.0,30,2018-02-24,2018-02-11,13 days

In [15]:
easter_data.TermDays.unique()

array([ 30,  90, 180,  45,  60, 120,  15], dtype=int64)

In [16]:
grouped_data = easter_data.groupby("TermDays")

In [20]:
mean_data = grouped_data.mean()
mean_data

          LoanNumber    LoanAmount  InterestRate
TermDays
15          2.628931   1274.088050     15.000000
30          2.137500   7941.964286     28.562143
45          1.100000  10706.250000     28.732500
60          4.800000  25710.526316     15.055789
90          4.709091  37672.727273     10.645455
120         1.000000  45055.555556     11.666667
180         6.285714  80988.095238      6.250000

In [21]:
std_data = grouped_data.std()
std_data

          LoanNumber    LoanAmount  InterestRate
TermDays
15          1.712033   2885.967406      0.000000
30          2.059236   1606.039495      4.034005
45          0.341256   2346.143820      5.773965
60          4.939205  11559.646185      3.632352
90          2.891064  18050.140602      2.180963
120         0.000000  22192.966854      1.000000
180         3.808115  34612.222587      1.265152

In [22]:
mean_data["LoanAmount"]   ## Mean of the loan amounts within each term days.

TermDays
15      1274.088050
30      7941.964286
45     10706.250000
60     25710.526316
90     37672.727273
120    45055.555556
180    80988.095238
Name: LoanAmount, dtype: float64

In [23]:
std_data["LoanAmount"]  ## Standard deviation of the loan amounts within each term days.

TermDays
15      2885.967406
30      1606.039495
45      2346.143820
60     11559.646185
90     18050.140602
120    22192.966854
180    34612.222587
Name: LoanAmount, dtype: float64

In [77]:
customer_app = easter_data["customerID"].value_counts().index.to_list()  #Customer that applied for loans the most number of times.
customer_app[0]

'686128144'

In [80]:
interst_rate = easter_data["InterestRate"].value_counts().index[0] #Interest rate for the most number of loans application.
interst_rate

30.0

In [25]:
easter_data["applicationDate"] = pd.to_datetime(easter_data["applicationDate"])

In [26]:
easter_data

,customerID,loanId,applicationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,DateDifference
1,839247458,3.02953E+11,2018-12-21,1,7500,30.0,30,2019-01-20,2019-01-16,4 days
2,217540860,3.0296E+11,2018-12-23,1,7500,30.0,30,2019-01-22,2018-12-29,24 days
3,522238092,3.03017E+11,2019-01-08,1,7500,30.0,30,2019-02-07,2019-01-08,30 days
4,96754469,3.03E+11,2019-01-04,1,7500,30.0,30,2019-02-03,2019-01-08,26 days
5,410354345,3.02952E+11,2018-12-21,1,7500,30.0,30,2019-01-20,2019-01-17,3 days
...,...,...,...,...,...,...,...,...,...,...
996,964510149,302636726,2018-01-15,2,7500,30.0,30,2018-02-14,2018-01-20,25 days
997,251997198,302772445,2018-02-13,1,7500,30.0,30,2018-03-15,2018-03-14,1 days
998,899011279,302585439,2018-01-03,3,7500,30.0,30,2018-02-02,2018-10-12,-252 days
999,648637210,3.02788E+11,2018-11-19,1,7500,30.0,30,2018-12-19,2018-12-17,2 days
1000,464788691,302683579,2018-01-24,1,7500,30.0,30,2018-02-24,2018-02-11,13 days

In [32]:
conv_days = easter_data["repaymentPaidDate"].dt.isocalendar().day 
conv_days

1       3
2       6
3       2
4       2
5       4
       ..
996     6
997     3
998     5
999     1
1000    7
Name: day, Length: 1000, dtype: UInt32

In [45]:
round(conv_days.mean(), 1) ##Average number of days that late loans were paid.

3.6

In [28]:
morethan_once = easter_data["customerID"].value_counts() ##Customers that applied for loans more than once.
morethan_once
morethan_once.loc[morethan_once > 1].count()

12

In [29]:
app_weeks = easter_data["applicationDate"].dt.isocalendar().week
app_weeks

1       51
2       51
3        2
4        1
5       51
        ..
996      3
997      7
998      1
999     47
1000     4
Name: week, Length: 1000, dtype: UInt32

In [30]:
app_weeks.value_counts().index[0] ##week with the most loan application

51

In [31]:
app_weeks.value_counts().index[-1] ##week with the least loan application

27