In [4]:
import pandas as pd

In [22]:
# files = pd.read_csv("/Users/drizzytom/Documents/PHYTHON/Data_Sci/lotofdata/001.csv")

In [37]:
### concatenate all the files contained in lots of data folder to one dataframe.

all_files = []

for i in range(1, 333):
    if i >= 100:
        all_files.append(pd.read_csv(f"/Users/drizzytom/Documents/PHYTHON/Data_Sci/lotofdata/{i}.csv"))
    elif i >= 10:
        all_files.append(pd.read_csv(f"/Users/drizzytom/Documents/PHYTHON/Data_Sci/lotofdata/0{i}.csv"))
    else:
        all_files.append(pd.read_csv(f"/Users/drizzytom/Documents/PHYTHON/Data_Sci/lotofdata/00{i}.csv"))

In [39]:
files = pd.concat(all_files, axis = 0, ignore_index = True)

In [40]:
files.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772087 entries, 0 to 772086
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Date     772087 non-null  object
 1   sulfate  118783 non-null  float64
 2   nitrate  114349 non-null  float64
 3   ID       772087 non-null  int64
dtypes: float64(2), int64(1), object(1)
memory usage: 23.6+ MB

In [42]:
files.shape

(772087, 4)

In [ ]:
files.tail()

In [45]:
files.set_index(pd.Index([num for num in range(1, len(files) + 1)]), inplace = True)

In [46]:
files.head()

         Date  sulfate  nitrate  ID
1  2003-01-01      NaN      NaN   1
2  2003-01-02      NaN      NaN   1
3  2003-01-03      NaN      NaN   1
4  2003-01-04      NaN      NaN   1
5  2003-01-05      NaN      NaN   1

In [17]:
loan_f = pd.read_csv("application_data.csv")

In [18]:
loan_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   applicationDate    1000 non-null   object
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   int64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   object
 8   repaymentPaidDate  1000 non-null   object
dtypes: float64(1), int64(3), object(5)
memory usage: 70.4+ KB

In [19]:
loan_f.head(10)

,customerID,loanId,applicationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,3.02953E+11,12/21/2018,1,7500,30.0,30,1/20/2019,1/16/2019
1,217540860,3.0296E+11,12/23/2018,1,7500,30.0,30,1/22/2019,12/29/2018
2,522238092,3.03017E+11,1/8/2019,1,7500,30.0,30,2/7/2019,1/8/2019
3,96754469,3.03E+11,1/4/2019,1,7500,30.0,30,2/3/2019,1/8/2019
4,410354345,3.02952E+11,12/21/2018,1,7500,30.0,30,1/20/2019,1/17/2019
5,27610141,3.02956E+11,12/22/2018,6,45000,10.0,90,3/21/2019,1/9/2019
6,390748423,3.02942E+11,12/19/2018,4,90000,5.0,180,6/18/2019,1/15/2019
7,642947351,3.02946E+11,12/19/2018,3,45000,10.0,90,3/19/2019,1/16/2019
8,227382168,3.02953E+11,12/21/2018,4,45000,10.0,90,3/20/2019,1/16/2019
9,380684555,3.02998E+11,1/3/2019,4,30000,10.0,90,4/2/2019,1/11/2019

In [20]:
loan_f.set_index(pd.Index([num for num in range (1, len(loan_f) + 1)]), inplace = True)

In [51]:
loan_f.head(10)

,customerID,loanId,applicationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
1,839247458,3.02953E+11,12/21/2018,1,7500,30.0,30,1/20/2019,1/16/2019
2,217540860,3.0296E+11,12/23/2018,1,7500,30.0,30,1/22/2019,12/29/2018
3,522238092,3.03017E+11,1/8/2019,1,7500,30.0,30,2/7/2019,1/8/2019
4,96754469,3.03E+11,1/4/2019,1,7500,30.0,30,2/3/2019,1/8/2019
5,410354345,3.02952E+11,12/21/2018,1,7500,30.0,30,1/20/2019,1/17/2019
6,27610141,3.02956E+11,12/22/2018,6,45000,10.0,90,3/21/2019,1/9/2019
7,390748423,3.02942E+11,12/19/2018,4,90000,5.0,180,6/18/2019,1/15/2019
8,642947351,3.02946E+11,12/19/2018,3,45000,10.0,90,3/19/2019,1/16/2019
9,227382168,3.02953E+11,12/21/2018,4,45000,10.0,90,3/20/2019,1/16/2019
10,380684555,3.02998E+11,1/3/2019,4,30000,10.0,90,4/2/2019,1/11/2019

In [21]:
loan_amount_av = loan_f["LoanAmount"].mean()
interest_rate_av = loan_f["InterestRate"].mean().round(2)
term_days_av = loan_f["TermDays"].mean()

In [61]:
print(loan_amount_av)
print(interest_rate_av)
print(term_days_av)

13828.08
23.06
42.075

In [22]:
loan_f.isnull().sum()

customerID           0
loanId               0
applicationDate      0
LoanNumber           0
LoanAmount           0
InterestRate         0
TermDays             0
repaymentDueDate     0
repaymentPaidDate    0
dtype: int64

In [23]:
loan_f["repaymentPaidDate"] = pd.to_datetime(loan_f["repaymentPaidDate"])

In [24]:
loan_f["repaymentDueDate"] = pd.to_datetime(loan_f["repaymentDueDate"])

In [25]:
diff_date = list(loan_f["repaymentDueDate"] - loan_f["repaymentPaidDate"] )

In [26]:
len(diff_date)

1000

In [27]:
loan_f["DateDifference"] = diff_date

In [14]:
loan_f.tail(10)

,customerID,loanId,applicationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,DateDifference
991,242227643,3.0188E+11,6/10/2018,2,7500,30.0,30,2018-07-10,2018-07-12,-2 days
992,78093608,3.02729E+11,11/9/2018,2,7500,30.0,30,2018-12-09,2018-11-30,9 days
993,63243799,302605265,1/8/2018,2,7500,30.0,30,2018-02-07,2018-02-06,1 days
994,704294322,302631540,1/14/2018,1,7500,30.0,30,2018-02-13,2018-02-05,8 days
995,144227648,302582780,1/2/2018,2,7500,30.0,30,2018-02-01,2018-02-02,-1 days
996,964510149,302636726,1/15/2018,2,7500,30.0,30,2018-02-14,2018-01-20,25 days
997,251997198,302772445,2/13/2018,1,7500,30.0,30,2018-03-15,2018-03-14,1 days
998,899011279,302585439,1/3/2018,3,7500,30.0,30,2018-02-02,2018-10-12,-252 days
999,648637210,3.02788E+11,11/19/2018,1,7500,30.0,30,2018-12-19,2018-12-17,2 days
1000,464788691,302683579,1/24/2018,1,7500,30.0,30,2018-02-24,2018-02-11,13 days

In [133]:
loan_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   applicationDate    1000 non-null   datetime64[ns]
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   int64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   datetime64[ns]
 8   repaymentPaidDate  1000 non-null   datetime64[ns]
 9   DateDifference     1000 non-null   timedelta64[ns]
dtypes: datetime64[ns](3), float64(1), int64(3), object(2), timedelta64[ns](1)
memory usage: 85.9+ KB

In [66]:
after_3 = loan_f[(loan_f["DateDifference"] < "-3 days")]

In [137]:
##after_3.sort_values(by = "DateDifference")

In [126]:
percent_3 = ((len(after_3 )/ len(loan_f.index))*100)

In [136]:
round(percent_3, 1) ###percentage of loan paid af

14.5

In [85]:
loan_f["TermDays"].unique()

array([ 30,  90, 180,  45,  60, 120,  15])

In [90]:
grouped_term = loan_f.groupby("TermDays")


mean_data = grouped_term.mean().round()
std_data = grouped_term.std().round()

print(mean_data["LoanAmount"])
print(std_data["LoanAmount"])

TermDays
15      1274.0
30      7942.0
45     10706.0
60     25711.0
90     37673.0
120    45056.0
180    80988.0
Name: LoanAmount, dtype: float64
TermDays
15      2886.0
30      1606.0
45      2346.0
60     11560.0
90     18050.0
120    22193.0
180    34612.0
Name: LoanAmount, dtype: float64

In [91]:
# grouped_term.get_group(90)

In [93]:
cust_frequent = loan_f["customerID"].value_counts()

In [46]:
cust_more_loan = cust_frequent.index.tolist()[0]  ##customer that applied for loans the most number of times

In [47]:
cust_more_loan

'686128144'

In [51]:
loan_f.head()

,customerID,loanId,applicationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,DateDifference
1,839247458,3.02953E+11,12/21/2018,1,7500,30.0,30,2019-01-20,2019-01-16,4 days
2,217540860,3.0296E+11,12/23/2018,1,7500,30.0,30,2019-01-22,2018-12-29,24 days
3,522238092,3.03017E+11,1/8/2019,1,7500,30.0,30,2019-02-07,2019-01-08,30 days
4,96754469,3.03E+11,1/4/2019,1,7500,30.0,30,2019-02-03,2019-01-08,26 days
5,410354345,3.02952E+11,12/21/2018,1,7500,30.0,30,2019-01-20,2019-01-17,3 days

In [145]:
loan_afterduedate = loan_f[loan_f['DateDifference'] < "0 days"] ###filtered dataset for loans paid beyond their due date

In [146]:
##loan_afterduedate

In [143]:
days_after_due = loan_afterduedate["repaymentPaidDate"].dt.isocalendar().day

In [144]:
days_after_due.mean().round()  ###Average number of days that late loans were paid beyond their due date for each week of the year

3.0

In [152]:
loan_f["InterestRate"].value_counts() ##Interest rate with the most number of application

30.0    493
15.0    208
20.0     49
12.5     46
27.0     42
10.0     33
7.5      30
36.0     26
20.1     22
5.0      21
12.0      8
19.8      7
12.6      5
18.0      5
6.0       3
9.9       1
9.0       1
Name: InterestRate, dtype: int64

In [160]:
loan_f["applicationDate"] = pd.to_datetime(loan_f["applicationDate"])

In [161]:
loan_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   applicationDate    1000 non-null   datetime64[ns]
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   int64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   datetime64[ns]
 8   repaymentPaidDate  1000 non-null   datetime64[ns]
 9   DateDifference     1000 non-null   timedelta64[ns]
dtypes: datetime64[ns](3), float64(1), int64(3), object(2), timedelta64[ns](1)
memory usage: 118.2+ KB

In [224]:
week_application = loan_f["applicationDate"].dt.isocalendar().week.value_counts()

In [231]:
most_loan =week_application.index[0]##the week of the year that has the most loan application 
print(most_loan)
least_loan = week_application.index[-1]##the week of the year that has the least loan application
print(least_loan)

51
27

In [208]:
cust_num_times = loan_f["customerID"].value_counts()

In [221]:
(cust_num_times.values > 1).sum() ###Number of customers that applied for loans more than once

12