### ASSIGNMENT

In [5]:
import numpy as np
import pandas as pd

In [6]:
#### concatenation 
file_list = []
for i in range(1, 333):
    if i < 10:
        file_data = pd.read_csv(f"C:/Users/DEMILADE SOMIDE/Data Science/lotofdata/00{i}.csv")
        
    elif (i > 10 and i < 100) or i == 10:
        file_data = pd.read_csv(f"C:/Users/DEMILADE SOMIDE/Data Science/lotofdata/0{i}.csv")
        
    elif i > 100 or i == 100:
        file_data = pd.read_csv(f"C:/Users/DEMILADE SOMIDE/Data Science/lotofdata/{i}.csv")
        
    else:
        pass
    
    file_list.append(file_data)
    
lotofdata = pd.concat(file_list, axis = 0, ignore_index = True)

In [7]:
lotofdata.shape

(772087, 4)

In [109]:
easter_data = pd.read_csv("application_data.csv")

In [110]:
easter_data.head()

,customerID,loanId,applicationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,3.02953E+11,12/21/2018,1,7500,30.0,30,1/20/2019,1/16/2019
1,217540860,3.0296E+11,12/23/2018,1,7500,30.0,30,1/22/2019,12/29/2018
2,522238092,3.03017E+11,1/8/2019,1,7500,30.0,30,2/7/2019,1/8/2019
3,96754469,3.03E+11,1/4/2019,1,7500,30.0,30,2/3/2019,1/8/2019
4,410354345,3.02952E+11,12/21/2018,1,7500,30.0,30,1/20/2019,1/17/2019

In [111]:
### AVERAGE LOAN AMOUNT, INTEREST RATE, TERM DAYS

avg_loan_amount = easter_data["LoanAmount"].mean()
avg_term_days = easter_data["TermDays"].mean()
avg_interest_rate = easter_data["InterestRate"].mean()

print(avg_loan_amount)
print(avg_term_days)
print(avg_interest_rate)

13828.08
42.075
23.061700000000002

In [112]:
from datetime import datetime as dt

In [113]:
easter_data["repaymentDueDate"]  = easter_data["repaymentDueDate"].apply(lambda x: dt.strptime(x, "%m/%d/%Y"))
easter_data["repaymentPaidDate"] = easter_data["repaymentPaidDate"].apply(lambda x: dt.strptime(x, "%m/%d/%Y"))

In [114]:
easter_data["dateDifference"] = easter_data["repaymentDueDate"] - easter_data["repaymentPaidDate"]

In [115]:
easter_data.set_index(pd.Index([num for num in range(1, len(easter_data) + 1)]), inplace = True)

In [116]:
easter_data

,customerID,loanId,applicationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
1,839247458,3.02953E+11,12/21/2018,1,7500,30.0,30,2019-01-20,2019-01-16,4 days
2,217540860,3.0296E+11,12/23/2018,1,7500,30.0,30,2019-01-22,2018-12-29,24 days
3,522238092,3.03017E+11,1/8/2019,1,7500,30.0,30,2019-02-07,2019-01-08,30 days
4,96754469,3.03E+11,1/4/2019,1,7500,30.0,30,2019-02-03,2019-01-08,26 days
5,410354345,3.02952E+11,12/21/2018,1,7500,30.0,30,2019-01-20,2019-01-17,3 days
...,...,...,...,...,...,...,...,...,...,...
996,964510149,302636726,1/15/2018,2,7500,30.0,30,2018-02-14,2018-01-20,25 days
997,251997198,302772445,2/13/2018,1,7500,30.0,30,2018-03-15,2018-03-14,1 days
998,899011279,302585439,1/3/2018,3,7500,30.0,30,2018-02-02,2018-10-12,-252 days
999,648637210,3.02788E+11,11/19/2018,1,7500,30.0,30,2018-12-19,2018-12-17,2 days
1000,464788691,302683579,1/24/2018,1,7500,30.0,30,2018-02-24,2018-02-11,13 days

In [117]:
easter_data.loc[easter_data["repaymentPaidDate"] > easter_data["repaymentDueDate"]].describe()

,LoanNumber,LoanAmount,InterestRate,TermDays,dateDifference
count,183.000000,183.000000,183.000000,183.000000,183
mean,1.874317,6668.961749,27.923497,28.360656,-29 days +09:26:33.442622951
std,1.390923,2902.224708,5.141369,6.071097,39 days 03:45:18.814810026
min,1.000000,80.000000,15.000000,15.000000,-252 days +00:00:00
25%,1.000000,7500.000000,30.000000,30.000000,-36 days +00:00:00
50%,1.000000,7500.000000,30.000000,30.000000,-12 days +00:00:00
75%,2.000000,7500.000000,30.000000,30.000000,-4 days +00:00:00
max,12.000000,20500.000000,30.000000,60.000000,-1 days +00:00:00

In [118]:
### % OF LOANS PAID BEYOND DUE DATE

loans_sum = easter_data["LoanAmount"].sum()
percentage_of_debtors = 183/1000 * 100
print(percentage_of_debtors)

18.3

In [119]:
### THE PERCENTAGE OF LOANS THAT WERE PAID BEYOND THREE DAY EXTENSION
number = easter_data.loc[(easter_data["dateDifference"] < "-3 days")].count()                 
pecent_3days = number/1000 * 100
percent_3days = pecent_3days[0]
percent_3days.round(1)

14.5

In [120]:
### THE MEAN AND STD OF LOAN AMOUNT WITHIN EACH TERM DAYS 
easter_data["TermDays"].unique()
term_days = easter_data.groupby("TermDays")
all_mean = term_days.mean()
all_std = term_days.std()
print(all_mean["LoanAmount"])
print(all_std["LoanAmount"])

TermDays
15      1274.088050
30      7941.964286
45     10706.250000
60     25710.526316
90     37672.727273
120    45055.555556
180    80988.095238
Name: LoanAmount, dtype: float64
TermDays
15      2885.967406
30      1606.039495
45      2346.143820
60     11559.646185
90     18050.140602
120    22192.966854
180    34612.222587
Name: LoanAmount, dtype: float64

In [121]:
### THE AVERAGE NUMBER OF DAYS LOANS WERE PAID OVERDUE FOR EACH WEEK
debtors = easter_data.loc[easter_data["repaymentPaidDate"] > easter_data["repaymentDueDate"]]
pd.to_datetime(debtors["repaymentPaidDate"])
days = debtors["repaymentPaidDate"].dt.isocalendar().day
days.mean().round()

3.0

In [122]:
### CUSTOMERS ID THAT IS A SERIAL LENDER 
highest_loan_customer = easter_data["customerID"].value_counts().index[0]
highest_loan_customer

'686128144'

In [123]:
highest_loan_interest = easter_data["InterestRate"].value_counts().index[0]
highest_loan_interest

30.0

In [124]:
easter_data["applicationDate"] = easter_data["applicationDate"].apply(lambda x: dt.strptime(x, "%m/%d/%Y"))

In [125]:
##### WEEK OF THE YEAR THAT HAS THE MOST LOAN
most_loan_week = easter_data["applicationDate"].dt.isocalendar().week.value_counts().index[0]
least_loan_week = easter_data["applicationDate"].dt.isocalendar().week.value_counts().index[-1]

print(most_loan_week)
print(least_loan_week)

51
27

In [126]:
### THE NUMBER OF CUSTOMERS THAT APLLIED FOR LOANS MORE THAN ONCE
highest_loan_customer = easter_data["customerID"].value_counts()
highest_loan_customer
# highest_loan_customer.loc[highest_loan_customer > 1].count()

686128144     4
GH16140997    3
GH56785851    2
GH33548869    2
597962950     2
             ..
836564384     1
668181902     1
862678552     1
523018039     1
434332650     1
Name: customerID, Length: 985, dtype: int64